.site-navigation {
  ul {
    display: flex;
    font-size: 1rem;
  }
  ul li a,
  ul li a:link,
  ul li a:visited {
    font-weight: bold;
    color: rgba(0,0,0,.5);
    padding-right: .5rem;
    padding-left: .5rem;
    text-decoration: none;
  }
  ul li a:hover,
  ul li a:active {
    color: rgba(0,0,0,.7);
  }
}

.nav-item--is-active {
  color: #000 !important;
}

.site-navigation-mobile {
  display: none;
  @include atMedium {
    display: none;
  }

  &--is-active{
    display: block;
  }
}