/* FONTS */
$mainFont: 'Roboto', sans-serif;

/* COLORS */
$mainBlack: #212529;
$mainWhite: #f8f9fa;
$mainBlue: #0076c0;
$lightGray: #6c757d;
$darkGray: #343a40;

$fontDark: $mainBlack;
$fontWhite: #fff;